<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/elements" class="item" routerLinkActive="active">Elements</a>
    <a routerLink="/collections" class="item" routerLinkActive="active">Collections</a>
    <a routerLink="/modules" class="item" routerLinkActive="active">Modules</a>
    <a routerLink="/views" class="item" routerLinkActive="active">Views</a>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Replacing href with routerLink so as to avoid complete refresh -->
<!-- routerLinkActive is used to mention the class name to be assigned when it is active -->

